extends layout

block content
  h1= title
  p Bem-vindo ao #{title}
  hr
  p
    a(href="/cep", target="_blank") Veja como usar
    br
    a(href="http://docs.cepapiv1.apiary.io/", target="_blank") Documentação
